body{
    margin: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(0, 0%, 59%);
}

#calculatorBody{
    font-family: Arial, sans-serif;
    background-color: hsl(0, 0%, 15%);
    border-radius: 15px;
    max-width: 450px;
    overflow: hidden;
}

#secDisplay{
    box-sizing: border-box;
    height: auto;
    min-height: 3rem;
    overflow: hidden;
    color: white;
    width: 100%;
    padding: 5px;
    font-size: 2rem;
    text-align: right;
    border: none;
    background-color: hsl(0, 2%, 22%);
}

#display{
    box-sizing: border-box;
    height: auto;
    min-height: 6rem;
    overflow: hidden;
    color: white;
    width: 100%;
    padding: 20px;
    font-size: 3rem;
    text-align: right;
    border: none;
    background-color: hsl(0, 2%, 22%);
}

#keys{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 6px;
    padding: 25px;
}
button{
    width: 80px;
    height: 80px;
    border-radius: 40px;
    border: none;
    background-color: hsl(0, 0%,30%);
    color: white;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}

button:hover{
    background-color:  hsl(0, 0%,40%);
}
button:active{
    background-color:  hsl(0, 0%,65%);
}

.fKey{
    background-color: rgb(204, 135, 6);
}

.fKey:hover{
    background-color: #ffa703;
}
